section {
    display: flex;
    justify-content: center;
}
.name {
    color: brown;
}
.main-container {
    min-height: 46vw;
    align-items: center;
    justify-content: center;
}
.main-image {
    -webkit-user-drag: none;
    width: 130%;
}
.flex-row {
    flex-direction: row;
}
.resume-btn {
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 13.5pt;
    margin-top: 35px;
    padding: 20px;
    background-color: #45B29A;
}
.btn-width {
    width: 36%;
}
.resume-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px #4990FE22, 0 0 5px #4990FE22;
  }
.deselect {
    -webkit-user-select: none;
    -moz-user-select: none;
}
.tick {
    margin-top: -5px;
    margin-left: 7px;
    background-color: #3ECB3B;
    width: 30px;
    padding: 8px;
    border-radius: 50px;
}
.long-line{
    margin-left: 10.7%;
    width: 110%;
    height: 110px;
    position: absolute;
    z-index: 0;
    background: #45B29A;
    opacity: 0.4;
    -webkit-transform: rotate(39deg);
    -webkit-transform-origin: 32% 10%;
}
.box-container {
    z-index: 0;
    padding-top: 5%;
    margin: 0% 17% 5% 17%;
    min-height: 45vw;
}
.describe-me {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
}
.text-box {
    margin-top: '7%';
}
.body-width {
    width: 100%;
    padding: 0 22%;
}
.border-section {
    background-repeat: no-repeat;
    background-size: 4px 100px, 100px 4px, 4px 100px, 100px 4px, calc(100% - 8px) calc(100% - 8px);
    background-position: left top, left top, right bottom, right bottom, 4px 4px;
    background-image: linear-gradient(#45B29A, #45B29A),
    linear-gradient(to right, #45B29A, #45B29A),
    linear-gradient(to left, #45B29A, #45B29A),
    linear-gradient(#45B29A, #45B29A);
}
.hello-text {
    font-size: 35pt;
}
.name-text {
    font-weight: bold;
    font-size: 35pt;
    color: #45B29A;
}
.position-text {
    font-size: 25pt;
}
.me-text {
    font-weight: 600;
    margin-top: 13%;
    font-size: 25pt;
    color: #45B29A;
}
.list-array {
    margin-top: 2px;
}

@media (max-width: 65em) {
    .main-container {
        height: 90vh;
    }
    .body-width {
        width: 100%;
        padding: 0 10%;
    }
    .resume-btn {
        font-size: 12.5pt;
    }
    .hello-text {
        font-size: 30pt;
    }
    .name-text {
        font-size: 30pt;
    }
    .position-text {
        font-size: 20pt;
    }
    .me-text {
        font-size: 20pt;
    }
    .border-section {
        margin: 0% 5%;
        background-size: 0px, 0px, 0px, 0px, calc(100% - 8px) calc(100% - 8px);
    }
    .describe-me {
        font-size: 15px;
        font-weight: bold;
    }
    .box-container {
        padding-top: 20%;
        margin: 0 0 0 0;
        min-height: 100vh;
    }
    .long-line {
        display: none;
    }
}

